@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.big_title {
    text-align: center;
    color: tomato;
}
.text{
    width: 60%;
}
.small_title {
    color: dodgerblue;
    text-align: center;
}


.avarta{
    height: 100px;
    width: 100px;
    border: 10px solid white;
    top: 200px;
    margin-left: 100px;
    margin-top:150px;


}
.cover{
    width: 100%;
    height: 300px;
}

